<div class="tought-form-container">
    <a href="/thoughts/dash">voltar</a>
    <h1>Criando um Pensamento:</h1>
    <form action="/thoughts/add" method="post">
        <div class="form-control">
            <label for="title">O que você está pensando hoje ?</label>
            <input type="text" name="title" id="title" placeholder="Quero ir ao...">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>
